<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
<modules>
        	<remove name="WebDAVModule" />
		</modules>
      	<rewrite>
        	<rules>
            	<rule name="DynamicContent">
					<match url="/*" />
					<action type="Rewrite" url="index.js" />
				</rule>
       		</rules>
		</rewrite>
		<handlers>
			<add name="iisnode" path="index.js" verb="*" modules="iisnode" />
			<remove name="WebDAV" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
    
    </system.webServer>
</configuration>
